doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Speaker's team

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body
    .container

      article

        section
          h1 5 Pria Transgender Paling Terkenal di Dunia

        section
          h2 Noong Toom (Thailand)
        section
          strong
            p Parinya Charoenphol
          ul
            li 
            li Lahir pada tahun 1981
            li Memulai karir sebagai seorang petinju
            li Di beri sebutan <em> Kathoey </em> (transgender) di Thailand
            li Nama Nang-tom mulai terkenal pada bulan Februari 1998
            li Pensiun dari dunia tinju pada tahun 1990
            li Melakukan operasi transgender pada tahun 1999

        section
          h2 Alicia Liu (Taiwan)
        section
          strong
            p Zi-hua
          ul
            li 
            li Lahir pada tahun 1986
            li Memulai karir sebagai model
            li pada tahun 2009 seorang dari rekan SMA-nya mengungkap identitas asli gendernya kepada media
            li pada tahun 2010 Alicia menunjukkan identitas nasional resminya yang baru diterbitkan dalam sebuah wawancara bahwa dirinya sekarang perempuan
            li Melakukan operasi transgender pada umur 18 tahun yang didanai oleh pacar keduanya 

        section
          h2 Harisu (Korea Utara)
        section
          strong
            p Lee Kyung-yeop
          ul
            li
            li Lahir pada tanggal 17 Februari 1975
            li Karir transgender : penyanyi pop, model dan artis di korea.
            li Menjalani operasi kelamin pada tahun 1990
            li Pertaman kali muncul di publik pada tahun 2001
            li Menikah dengan Micky Jung pada tanggal 19 mei 2007 setelah 2 tahun berpacaran
            li "I was always a girl who loved playing with dolls."
        
        section
          h2 Florencia De La V (Argentina)
        section
          strong
            p Roberto Carlos Trinidad
          ul
            li 
            li Lahir pada 2 Maret 1976 di Argentina
            li MMenjadi trangender saat dia berumur 17 tahun
            li enjadi artis transgender yang paling terkenal di dunia
            li Florencia De la V ini bertemu pertama kali dengan suaminya, seorang pria, dokter gigi bernama Pablo Goycochea  di 1998 dan menikah pada 1 November dan menjadi ibu dari bayi kembar.


        section
          h2 Dena Rachman (Indonesia)

        section
          strong
            p Renaldi Denada Rachman
          ul
            li 
            li Lahir pada 30 Agustus 1987
            li Sebelum Transgender :
            li penyanyi cilik di era 1990-an yang cukup ngetop dengan lagu Ole-ole, rukun dan damai
            li Menjadi presenter acara anak-anak Krucil bernama Renaldi
            li Menjalani operasi di usia 18 Tahun
            li "Aku akhirnya menemukan identitas diri aku."
            

      
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild